#app2{
    width: 50vw;
    height: 50vh;
    border: 1px solid #000;
}

#app2 .tabBar{
    display: flex;
    justify-content: center;
}
#app2 .tabBar >li{
    border: 1px solid #000;
    text-align: center;
    width: 50%;
}
.content >li{
    width: 100%;
    height: 200px;
    border: 1px solid blue;
}

.selected{
    background-color: yellow;
}
.show{
    display: block;
}
.hide{
    display: none;
}

