#app3 {
    width: 50vw;
    height: 50vh;
    border: 1px solid red;
}
#app3 .square{
    margin-top: 10vh;
    margin-left: 10vw;
    width: 100px;
    height: 100px;
    background-color: #cccccc;

}
.move{
    transform: translateX(100px);
    transition: 1s linear;
}